<nav class="navbar bg-primary" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../imagens/icone_menu.png" alt="Bootstrap" width="48" height="48" class="d-inline-block align-text-top">
        <font color="#FFFFFF" size="6">Clayd's - Beleza e Estética</font>
      </a>
    </div>
  </nav>